<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestPathIndexing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52EA22AC1E51C66B008FAF2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52EA22C01E51C66B008FAF2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52EA22CB1E51C66C008FAF2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
